<p>Xin chào,</p>
<p>Bạn vừa yêu cầu đổi mật khẩu. Vui lòng bấm vào link dưới đây để đặt lại mật
  khẩu:</p>
<p><a href='{{resetLink}}'>Đặt lại mật khẩu</a></p>
<p>Hoặc sao chép đoạn token bên dưới để nhập thủ công:</p>
<p><strong>{{token}}</strong></p>
<p>Nếu bạn không yêu cầu, vui lòng bỏ qua email này.</p>